<div class="jumbotron">
  <h1> <%= @category.tag() %> </h1>
</div>

<!-- join table -->
<% if @category.recipes().any?() %>

  <h3>Here are all the recipes in this category:</h3>

  <ul>
    <% @category.recipes().each() do |add| %>
      <li><a href="/recipe/<%= add.id %>"><%= add.name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no recipes yet!</p>
<% end %>
</div>
